# IntelliJ #
*.iml
.idea/*

# Maven #
**/target/*
target/*

# Build artifacts #
*.class
org/

# Server data #
data/

# External folder #
external/

# macOS #
.DS_Store

# VS Code #
.vscode/